.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px solid #dfdfdf;
}

.calendar th {
  padding: 15px;
  font-size: 14px;
}

.calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100px;
  height: 100px;
  vertical-align: top;
  position: relative;
}

.calendar td.empty {
  background: #f8f9fa;
}

.calendar td.today .text {
  color: red;
}

.rental-item {
  background: #f2f2f2;
  padding: 3px 6px;
  margin: 2px 0;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}