table {
  border-collapse: collapse;
  border-radius: 5px;

  & th, td {
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 14px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}